/* body{
    background-color: red;
} */

.add-client-db{
    background-color: red; /* VERMELHO PARA TESTES */
    padding: 12px;
    font-size: 2rem;
}

.inputs-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 8rem;
    padding-top: 8px;
}