/* body{
    background-color: red;
} */

:root{
    --primary-color: #333;
    --secondary-color: #b4b4b4;
    --color-black: #000;
    --color-white: #fff;
    --color-green: #00ff00;
    --color-dark-green: #009400;
    --color-red: #ff0000;
}

.add-client-db{
    background-color: red; /* VERMELHO PARA TESTES */
    padding: 12px;
    font-size: 2rem;
    border-radius: 10px;
}

.inputs-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 8rem;
    padding-top: 8px;
}

.inputs{
    padding: 12px;
    border-radius: 10px;
    color: var(--color-black);
    border: 2px solid var(--color-green);
}

.add-btn{
    text-decoration: none;
    background-color: var(--color-green);
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
}

.add-btn:hover{
    background-color: var(--color-dark-green);
    transition: .3s;
}

.add-btn:not(:hover){
    background-color: var(--color-green);
    transition: .3s;
} 