/* body{
    background-color: red;
} */

:root{
    --primary-color: #333;
    --secondary-color: #666;
    --color-black: #000;
    --color-white: #fff;
    --color-green: #00ff00;
    --color-red: #ff0000;
}

.add-client-db{
    background-color: red; /* VERMELHO PARA TESTES */
    padding: 12px;
    font-size: 2rem;
    border-radius: 10px;
}

.inputs-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 8rem;
    padding-top: 8px;
}

.inputs{
    border: none; 
    background-color: red;  
    padding: 12px;
    border-radius: 10px;
}

.add-btn{
    text-decoration: none;
    background-color: red; /* VERMELHO PARA TESTES */
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
}